<h1>All Articles</h1>
<% if can? :create, Article %>
  <%= link_to "New Article", new_article_path, class: 'btn btn-primary btn-mini' %>
<% end %>
<% @articles.each do |article| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <h6><%= link_to article.title, article %></h6>
        <p><%= link_to article.body, article %></p> 
      </h4>
      <small>
        submitted <%= time_ago_in_words(article.created_at) %> ago by <%= article.user.name %><br/>
      </small>
    </div>
  </div>
<% end %>
